body {
	font-family: "Open Sans", sans-serif;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

.page {
	margin-left: 8px;
	margin-right: 8px;
}

.navigation-bar {
	background-color: cornflowerblue;
}

.navigation-bar a {
	color: white;
	text-decoration: none;
}

.navigation-bar a.block {
	display: inline-block;
}

a, a:hover, a:focus, a:visited, a:active {
	text-decoration: none;
}

a.block {
	display: inline-block;
	text-decoration: none;
}

a.block:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	padding: 0px
}

.form-control {
	height: auto;
	padding: 4px 4px;
}

.grid-view {
	margin: -4px -4px;
}

.grid-view-item {
	float: left;
	/*display: inline-block;*/
	width: 33.33333%;
	padding: 4px 4px;
}

.list-view {
}

/*
.list-view-item {
}

.list-view-item:not(:first-child) {
	margin-top: 8px;
}

.list-view-item:not(:last-child) {
	margin-bottom: 8px;
}
*/
.list-view {
	margin: -4px 0px;
}

.list-view-item {
	padding: 4px 0px;
}

.colored-box {
	background-color: aliceblue;
}

.striped:nth-of-type(even) {
	background-color: rgba(0, 0, 0, 0.03);
}
