<!doctype html>
<html>
	<head>
		<title>Packages</title>
		<link rel="icon" type="image/png" href="{{ url_for("static", filename = "images/steam/emoticons/roar.png") }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/thirdparty/bootstrap/bootstrap.min.css") }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/thirdparty/fontawesome/font-awesome.min.css") }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/thirdparty/googlefonts/opensans.css") }}">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/main.css") }}">
		
		<script src="/js/thirdparty/jquery/jquery-2.1.4.min.js"></script>
		<script src="/js/thirdparty/bootstrap/bootstrap.min.js"></script>
		
		<script src="/js/thirdparty/react/JSXTransformer.js"></script>
		<script src="/js/thirdparty/react/react-with-addons.min.js"></script>
		
		<script src="/js/knotcake/oop/class.js"></script>
		<script src="/js/knotcake/oop/event.js"></script>
		<script src="/js/knotcake/oop/field.js"></script>
		<script src="/js/knotcake/datetime.js"></script>
		<script src="/js/knotcake/web.js"></script>
		
		<script src="/js/models/resultstate.js"></script>
		<script src="/js/models/validationcontroller.js"></script>
		<script src="/js/models/nonnullablevalidator.js"></script>
		
		<script src="/js/models/user.js"></script>
		<script src="/js/models/package.js"></script>
		<script src="/js/models/packagerelease.js"></script>
		<script src="/js/models/directorytree.js"></script>
		<script src="/js/models/gitrepositorytree.js"></script>
		<script src="/js/models/svnrepositorytree.js"></script>
		
		{% for jsxFile in g.getJsxFileList() %}<script src="/js/{{ jsxFile[:-1] }}"></script>
		{% endfor %}
		
		<script src="/users/current.jsonp"></script>
	</head>
	<body>
		<script>
			var time = {{ g.time }};
		</script>
		<script type="text/jsx">
			$(document).ready(
				function()
				{
					React.render(<NavigationBar user={ currentUser } />, $("#navigation_bar")[0]);
				}
			);
		</script>
		<div id="navigation_bar"></div>
		<div class="page">
			{% for message in get_flashed_messages() %}
				<div class="flash">
					{{ message }}
				</div>
			{% endfor %}
			<div class="content">
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
